{% extends 'base.html.twig' %}

{% block title %}Weather{% endblock %}

{% block body %}
    <h2>City</h2>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
            <span class="caret"></span>{{ currentWeather.city }}</button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            {% for city in cityList %}
                <li role="presentation"><a role="menuitem"
                                           href="{{ path('WeatherApp', {'mainCity': city.city}) }}">{{ city.city }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>


    {{ currentWeather.city }}
    {{ currentWeather.temp }}
    {{ currentWeather.cond }}

    <a type="button" class="btn-primary btn-lg" href="#">Refresh</a>
    {% if app.user %}
        <a type="button" class="btn-primary btn-lg" href="{{ path('addCity') }}">Add City</a>
        <a href="{{ logout_path('main') }}">Logout</a>
    {% else %}
        <a type="button" class="btn-primary btn-lg" href="{{ path('login') }}">Login</a>
        <a type="button" class="btn-primary btn-lg" href="{{ path('register') }}">Register</a>
    {% endif %}
{% endblock %}

