<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">


    <h2>City</h2>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
            <span class="caret"></span>{{ currentWeather.city }}</button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            {% for city in dbWeather %}
                <li role="presentation"><a role="menuitem"
                                           href="{{ path('WeatherApp', {'mainCity': city.city}) }}">{{ city.city }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>


    {{ currentWeather.city }}
    {{ currentWeather.country }}
    {{ currentWeather.temp }}
    {{ currentWeather.condition }}

    <a type="button" class="btn-primary btn-lg" href="{{ path('WeatherApp', {'mainCity': 'gdansk'}) }}">Refresh</a>
    <a type="button" class="btn-primary btn-lg" href="{{ path('login') }}">Login</a>
    <a type="button" class="btn-primary btn-lg" href="{{ path('addCity') }}">Add City</a>
    <a type="button" class="btn-primary btn-lg" href="{{ path('Registration') }}">Register</a>
</div>


</body>
</html>



