<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>City</h2>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
            <span class="caret"></span>{{ city }}</button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="?city=Warsaw">Warsaw</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="?city=Katowice">Katowice</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="?city=Gdansk">Gdansk</a></li>
        </ul>
    </div>

{{ city }}
{{ country }}
{{ temp }}
{{ condition }}

</body>
</html>



